    <main>
        <section class="site-title">
            <div class="site-background" data-aos="fade-up" data-aos-delay="100">
                <h3>Helping Reduce</h3>
                <h1>Person to Person Contact</h1>
                <a href='/about/'><button class="btn">Explore</button></a>
            </div>
        </section>

        <!------------x----------- Site Title ----------x----------->

        <!-- --------------------- Blog Carousel ----------------- -->

        <section>
            <div class="blog">
                <div class="container">
                    <div class="owl-carousel owl-theme blog-post">
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <img src="../static/assets/Blog-post/post-2.jpg" alt="post-2">
                            <div class="blog-title">
                                <h3>See your public image!</h3>
                                <a href="/profile/"><button class="btn btn-blog">Click</button></a>
                                <span>to go to Profile</span>
                            </div>
                        </div>
                        <div class="blog-content" data-aos="fade-in" data-aos-delay="200">
                            <img src="../static/assets/Blog-post/post-16.jpg" alt="post-16">
                            <div class="blog-title">
                                <h3>Find your next time to do the grocery!</h3>
                                <a href="/check_calendar/"><button class="btn btn-blog">Click</button></a>
                                <span>to go to Schedule</span>
                            </div>
                        </div>
                        <div class="blog-content" data-aos="fade-left" data-aos-delay="200">
                            <img src="../static/assets/Blog-post/post-11.jpg" alt="post-2">
                            <div class="blog-title">
                                <h3>Log all of your favorite groceries!</h3>
                                <a href="/check_grocery_list/"><button class="btn btn-blog">Click</button></a>
                                <span>to go to Todo-List</span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-navigation">
                        <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                        <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
                    </div>
                </div>
            </div>
        </section>
        

            <!--DONE-->